<div ng-controller="mainController" class="page">
	<div id="aboutContainer">  
		<div id="aboutInnerContainer">
			<h1>Hello, my name is Margie and I am a front-end web developer.</h1><br>
			<h1>I am graduating in the spring of 2017 and searching for a full time job.</h1>
			<br>
			<h2>Check out my <a href="#/resume">RESUME</a> and <a href="#/projects">PROJECTS</a></h2>
			<br></br>
			<div class="social">
	            <ul style="padding: 3px">
	              <li><a href="mailto:chubin2@illinois.edu" target="_blank"><i class="fa fa-lg fa-envelope"></i></a></li>
	              <li><a href="https://www.linkedin.com/in/margiechubin" target="_blank"><i class="fa fa-lg fa-linkedin-square"></i></a></li>
	              <li><a href="http://www.github.com/margiechubin" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>
	            </ul>
	        </div>
		</div>
	</div>
</div>
