<div ng-controller="mainController" class="page">

      <div class="row">
        Read about my experience below or <a href="data/margie.pdf">click here for a "paper" version</a>
      </div>

      <!--Work Experience-->
      <div class="row">
        <h3 class="col-sm-5">Work Experience</h3>
      </div>
      
      <div ng-repeat="e in data.experience">
        <div class="row">
          <div class="col-sm-3">
            <i>{{e.date}}</i>
          </div>
          <div class="col-sm-9">
            <b class="cool-header">{{e.title}}</b>&nbsp;&nbsp;
            <b>{{e.company}}</b>&nbsp;
            <i style="color:#9c9c9c">{{e.location}}</i>
          </div>
        </div>
        <br>
        <div class="row">   
          <div class="col-sm-9 col-sm-offset-3">
            <ul ng-repeat="d in e.description">
              <li>{{d}}</li>
            </ul>
          </div>
        </div>
        <br>
      </div>
    
      <!--Involvement-->
      <div class="row">
        <h3 class="col-sm-5">Involvement</h3>
      </div>
      <div ng-repeat="i in data.involvement">
        <div class="row">
          <div class="col-sm-3">
            <p><i>{{i.date}}</i></p>
          </div>
          <div class="col-sm-9">
            <b class="cool-header">{{i.organization}}</b>
          </div>
        </div>
        <div class="row">   
          <div class="col-sm-9 col-sm-offset-3">
            <b>{{i.positions}}</b> <br></br>
            <ul ng-repeat="d in i.description">
              <li>{{d}}</li>
            </ul>
          </div>
          
        </div>
      </div>
      <br>
      <!--Courses-->
      <div class="row">
        <h3 class="col-sm-5">Favorite Classes</h3>
      </div>
      <ul ng-repeat="c in data.courses">
        <li>{{c}}</li>
      </ul>
    
    </div>