<main ng-controller="mainController" class="page container" role="main">

  <h1>Experience</h1>
  <p>Read about my experience below or <a href="data/margie.pdf">click here for a "paper" version</a></p>

  <h2>Work Experience</h2>
  <div ng-repeat="e in data.experience">
    <h3 class="cool-header">{{e.title}}</h3>
    <h4>{{e.company}} // {{e.location}}</h4>
    <h4>{{e.date}}</h4>
    <ul ng-repeat="d in e.description">
      <li>{{d}}</li>
    </ul>
  </div>

  <h2>University Involvement</h2>
  <div ng-repeat="i in data.involvement">
    <h3 class="cool-header">{{i.organization}}</h3>
    <h4>{{i.positions}}</h4>
    <ul ng-repeat="d in i.description">
      <li>{{d}}</li>
    </ul>
  </div>

  <h2>Favorite Classes</h2>
  <ul ng-repeat="c in data.courses">
    <li>{{c}}</li>
  </ul>

</main>
