<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div ng-controller="MyController" class="container">

      <h2 class="row">Resume</h2>
      <h3 class="row">Work Experience</h3>
      <div ng-repeat="e in data.experience">
        <div class="row">   
          <h4><b>{{e.company}}</b></h4>
          <div class="col-md-9">
            <p><i>{{e.location}} </i><br>
            <b>{{e.title}}</b> <br>
            <ul ng-repeat="d in e.description">
              <li>{{d}}</li>
            </ul>
            </p>
          </div>
          <div>
            <p><i>February 2015 - May 2016</i></p>
          </div>
        </div>
      </div>
    
    </div>
  </body>
</html>